@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-blue-100: oklch(72.53% 0.1033 230.67);
  --color-red-100: oklch(48.12% 0.1674 23.04);
  --color-white: oklch(96% 0 329.29 / 95.05%);
}

html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  @apply bg-gradient-to-r from-purple-500 to-pink-500;
  @apply text-purple-700;
  overflow-y: hidden;
  height: 100%;
  margin: 0;
}

a {
  font-size: 0.6rem;
  text-decoration: underline;
}

hr {
  @apply border-gray-700;
}

.rainbow {
  @apply bg-gradient-to-r from-red-500  via-purple-500 to-pink-500 text-transparent;
  @apply bg-clip-text;
}

.line-through {
  text-decoration-line: line-through;
}

.text-white {
  color: var(--color-white);
}

.text-blue-100 {
  color: var(--color-blue-100);
}

.text-red-100 {
  color: var(--color-red-100);
}

.text-white {
  color: var(--color-white);
}

blockquote {
  font-size: 0.75rem;
  font-style: italic;
  line-height: normal;
  display: inline-flex;
}

.md {
  p {
    margin: 0.625rem 0;
    line-height: 1.25rem;
  }
}

@keyframes run-text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
